.background-pic{
  --background: url("/assets/homebg.jpeg") 0 0/100% 100% no-repeat;
}

.container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
}

.current-info1 {
  font-size: 45px;
  font-family: "Comic Sans MS";
}

.current-info2 {
  font-size: 20px;
  font-family: "Comic Sans MS";
}

