.background-pic{
  --background: url("/assets/timerbg.jpeg") 0 0/100% 100% no-repeat;
}

.container {
  position: absolute;
  text-align: center;
  margin-top: 20px;
  left: 0;
  right: 0;
}

.card p{
  color: #7171CB;
  font-family: "Comic Sans MS";
  font-size: 18px;
}

